{% extends "base.html" %}

{% block content %}
 
<center>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre del programa educativo </th>
        <th scope="col">Clave de programa educativo </th>
        <th scope="col">Total de proyectos liderados</th>
        <th scope="col">Total de proyectos participados</th>
        <th scope="col">Fecha de adición </th> 
      </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
            <tr>
                <th scope="row"> <a href="{{instance.id}}/">{{instance.id}}</a>  </th>
                <td>{{instance.nameProgram}}}}</td>
                <td>{{instance.numberProgram}}</td>
                <td>{{instance.respProgram}}</td>
                <td>{{instance.partProgram}}</td>
                <td>{{instance.createdPubProgram}}</td>
             </tr>
        {% endfor %}
    </tbody>
  </table>
</center>
{% endblock %}