<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="loans HTML Template">
    <meta name="keywords" content="loans, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Favicon -->
    <link href="img/favicon.ico" rel="shortcut icon"/>
  
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap" rel="stylesheet">
   
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
    <link rel="stylesheet" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="css/flaticon.css"/>
    <link rel="stylesheet" href="css/slicknav.min.css"/>
  
    <!-- Main Stylesheets -->
    <link rel="stylesheet" href="css/style.css"/>

  </head>
<!-- Footer Section -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>What we do</h2>
          <ul>
            <li><a href="#">Loans</a></li>
            <li><a href="#">Car loans</a></li>
            <li><a href="#">Debt consolidation loans</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>About us</h2>
          <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Our story</a></li>
            <li><a href="#">Meet the board</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>Legal</h2>
          <ul>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Loans2go principles</a></li>
            <li><a href="#">Website terms</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="footer-widget">
          <h2>Site Info</h2>
          <ul>
            <li><a href="#">Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Sitemap</a></li>
          </ul>
        </div>
      </div>
    </div>
    <p>Universidad Autonoma de Baja California</p>

  </div>
</footer>
	</html>
 