<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/sap.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>SAP UABC</title>
</head>

<body>



  <!-- section navbar -->
  <div class="row">
    <section name="navbar" class="cointainer">

      <div name="navbar" class="col-xs-12">

        <nav class="navbar bg-secondary navbar-expand-sm">

          <div class="container-fluid">

            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src="https://sg.com.mx/sites/default/files/2018-05/logoUABC_0.png" style="width:50px"" width="32px" height="32px">
                </a>

            </div>

            <ul class="nav navbar-nav">

              <li class="active"><a href="#"><img src="img/icon8/icons8-home-24.png">Inicio</a></li>

              <li><a href="#">Productos Academicos</a></li>

              <li><a href="#">Ejemplo tab</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">

              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Cuenta</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
            </ul>
          </div>
        </nav>
      </div>
  </div>
  </section>
</body>

</html>