<!-- section navbar -->
<nav class="navbar bg-yellow navbar-expand-sm container-fluid">

  <div class="col-sm-3 ">
    <!-- logo 6 columns -->
    <a class="navbar-brand" href="/uabc/index">
      <!--<img src="http://transparencia.uabc.mx/img/iconosSlider/CIMARRON.png" height="36px">-->
      SAP UABC
    </a>
  </div>

  <div class="col-sm-6 ">
    <!-- items 4 columns -->
    <ul class="nav navbar-nav">

      <li class="active">
        <a href="/uabc/index">
          Inicio
        </a>
      </li>

      <li>
        <a href="/article/index">
          Publicaciones
        </a>
      </li>

      <li>
        <a href="#">
          Proyectos
        </a>
      </li>

    </ul>
  </div>

  <div class="col-sm-2 ">
    <!-- user control 2 columns -->
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Cuenta</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
    </ul>
  </div>

</nav>