{% extends "base.html" %}

{% block content %}
 
<center>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre de cuerpo académico </th>
        <th scope="col">Clave de cuerpo académico </th>
        <th scope="col">Fecha de adición </th> 
      </tr>
    </thead>
    <tbody>
        {% for instance in object_list %}
            <tr>
                <th scope="row"> <a href="{{instance.id}}/">{{instance.id}}</a>  </th>
                <td>{{instance.nameAcademy}}</td>
                <td>{{instance.codeAcademy}}</td>
                <td>{{instance.createdPubAcademy}}</td>
             </tr>
        {% endfor %}
    </tbody>
  </table>
</center>
{% endblock %}